/* css variables */
:root {
    --color-primary: #003478;
    --color-secondary: #E8E10C;
    --txt-light: #F4F4F4;
    --txt-dark: #000000;
    --title-font: 'Merriweather', serif;
    --reg-font: 'Roboto', sans-serif;
}

html, body {
    color: var(--txt-dark);
    font-family: var(--reg-font);
}

/* header styling */
.header {
    margin: 0;
    padding: 0;
    background-color: var(--color-primary);
    color: var(--txt-light);
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: center;
}

.header a {
    color: var(--txt-light);
    text-decoration: none;
}

.header-title {
    margin: 0;
    padding: 1rem;
    font-family: var(--title-font);
    font-weight: bolder;
    font-size: 22px;
}

.header-title span {
    color: var(--color-secondary);
    font-style: italic;
}

.header-nav {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin: 0 1.5rem;
}

.current-page a {
    color: var(--color-secondary);
}
/* end header styling */

/* hero styling */
.hero {
    height: 60vh;
    width: 100%;
    background: url(./assets/images/fishing-rods.jpg);
    background-position: center;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.hero-info {
    display: flex;
    flex-direction: column;
    margin: 50px;
    padding: 1rem;
    border-radius: 20px;
    width: 40vw;
}

.hero-title {
    color: var(--txt-light);
    font-weight: bolder;
    font-size: 48px;
    text-shadow: 5px 5px 10px var(--txt-dark);
    font-family: var(--title-font);
    margin: 0;
}

.hero-intro {
    font-family: var(--reg-font);
    font-style: italic;
    font-size: 36px;
    margin: 0;
    padding: 0;
    color: var(--color-secondary);
}

.btn-link {
    text-decoration: none;
    color: var(--txt-dark);
    background-color: var(--color-secondary);
    font-size: 1.2rem;
    font-weight: bold;
    padding: 1rem;
    margin: 2rem;
    width: 150px;
    text-align: center;
    border-radius: 28px;
    transition: all 0.3s ease;
}

.btn-link:hover {
    background-color: var(--color-primary);
    color: var(--txt-light);
}
/* end hero styling */

/* home-info section styling */
.home-info {
    text-align: center;
}

.home-info-title {
    width: 50vw;
    margin: 1rem auto;
    padding: 1.5rem;
    font-size: 36px;
    font-family: var(--title-font);
    border-bottom: 5px solid var(--color-primary);
}

.info-icon-container {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
    align-items: center;
    margin: 2rem;
}

.info-icon {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex: 1;
}

.icon-background {
    width: 70px;
    height: 70px;
    background-color: var(--color-primary);
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 1rem;
}

.icon {
    font-size: 2rem;
    color: var(--color-secondary);
}

.info-txt {
    font-size: 1.2rem;
}
/* end home-info section styling */

/* home welcome styling */
.home-welcome {
    background-color: var(--color-primary);
    color: var(--txt-light);
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
    align-items: center;
    height: 400px;
}

.welcome-container {
    width: 35vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: space-around;
}

.welcome-title {
    font-family: var(--title-font);
    font-size: 36px;
    color: var(--color-secondary);
    margin: 1rem;
}

.welcome-txt {
    font-size: 1.3rem;
    margin: 0.5rem 1rem;
    line-height: 1.5;
}

.welcome-img-container {
    width: 35vw;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    z-index: 1;
}

.community-photo {
    width: 500px;
    height: 300px;
    background: url(./assets/images/community-photo.jpg);
    background-position: center;
    position: absolute;
}

.community-photo::after {
    content: '';
    position: absolute;
    z-index: -1;
    left: 15px;
    bottom: 15px;
    background: var(--color-secondary);
    width: 500px;
    height: 300px;
}
/* end home welcome styling */

/* footer styling */
.footer {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
    align-items: center;
    background-color: var(--color-secondary);
}
/* end footer styling */




/* media queries */
@media screen and (max-width: 1000px) {
    .community-photo {
        background-size: cover;
    }

    .community-photo, .community-photo::after {
        width: 350px;
        height: 200px;
    }

    .welcome-title {
        font-size: 1.8rem;
    }

    .welcome-txt {
        font-size: 1.2rem;
    }
}

@media screen and (max-width: 768px) {
    .hero {
        justify-content: center;
    }

    .hero-info {
        margin: 0;
        width: 80vw;
        align-items: center;
        text-align: center;
        background-color: rgba(0,52,120,0.8);
    }

    .hero-title {
        text-shadow: 3px 3px 15px var(--txt-dark);
    }

    .btn-link:hover {
        background-color: var(--color-secondary);
        color: var(--txt-dark);
    }

    .home-welcome {
        flex-direction: column;
        justify-content: space-around;
        height: 600px;
    }

    .welcome-container {
        width: 80vw;
        text-align: center;
    }

    .welcome-img-container {
        width: 80vw;
    }

    .welcome-img-container {
        bottom: 50px;
    }
}

@media screen and (max-width: 480px) {
    .hero-title {
        font-size: 36px;
    }

    .hero-intro {
        font-size: 28px;
    }

    .community-photo, .community-photo::after {
        width: 250px;
        height: 150px;
    }

    .home-info-title {
        font-size: 1.5rem;
    }
}

@media screen and (max-width: 375px) {}